<div class="footer-sec">
	<div class="container">
		<div class="col-sm-8">
			<h5>Company</h5>
			<ul class="list-unstyled">
				<li><a  href="/user1/info/aboutus">About Us</a></li>
				<li><a  href="/user1/info/customersays">What our customers say?</a></li>
				<li><a  href="/user1/info/contactus">Contact Us </a></li>
				<li><a  href="/user1/info/terms%26conditions">Privacy, Terms &amp; Condition</a></li>
			</ul>
		</div>
		<div class="col-sm-4">
			<h5>Social Media</h5>
			<ul class="list-unstyled list-inline footer-social-list">
				<li><a href="/" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="/" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="copyright">
	<div class="container">
		<div class="col-md-6">
			<p>© 2017 - All Rights with FCL</p>
		</div>
	</div>
</div>