<div ng-init="$land.init()">

    <a href="javascript:void(0);"  id="theme-setting-icon">
        <i class="fa fa-cog fa-lg"></i>
    </a>
    <div  id="theme-setting" click-detect>
        <div class="title">
            <strong class="no-margin">Skin Color</strong>
        </div>
        <div class="theme-box">
            <a class="theme-color" style="background:#323447" id="default"></a>
            <a class="theme-color" style="background:#efefef" id="skin-1"></a>
            <a class="theme-color" style="background:#a93922" id="skin-2"></a>
            <a class="theme-color" style="background:#3e6b96" id="skin-3"></a>
            <a class="theme-color" style="background:#635247" id="skin-4"></a>
            <a class="theme-color" style="background:#3a3a3a" id="skin-5"></a>
            <a class="theme-color" style="background:#495B6C" id="skin-6"></a>
        </div>
        <div class="title">
            <strong class="no-margin">Sidebar Menu</strong>
        </div>
        <div class="theme-box">
            <label class="label-checkbox">
                <input type="checkbox" checked id="fixedSidebar">
                <span class="custom-checkbox"></span> Fixed Sidebar
            </label>
        </div>
    </div>
    <!-- /theme-setting -->

    <div id="wrapper" class="preload">
        <div id="top-nav" class="fixed skin-6">
            <a href="" class="brand">
                <span>Jira App</span>
                <!-- <span class="text-toggle"> Admin</span> -->
            </a>
            <!-- /brand -->
            <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav-notification clearfix">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-envelope fa-lg"></i>
                        <span class="notification-label bounceIn animation-delay4">7</span>
                    </a>
                    <ul class="dropdown-menu message dropdown-1">
                        <li>
                            <a>You have 4 new unread messages</a>
                        </li>
                        <li>
                            <a class="clearfix" href="">
                                <img src="app/img/user.jpg" alt="User Avatar">
                                <div class="detail">
                                    <strong>{{$land.user.UserName }}</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted">
                                        <i class="fa fa-check text-success"></i> 27m ago</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="clearfix" href="">
                                <img src="app/img/user2.jpg" alt="User Avatar">
                                <div class="detail">
                                    <strong>{{$land.user.UserName}}</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted">
                                        <i class="fa fa-check text-success"></i> 5hr ago</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="clearfix" href="">
                                <img src="app/img/user.jpg" alt="User Avatar">
                                <div class="detail">
                                    <strong>Bill Doe</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted">
                                        <i class="fa fa-reply"></i> Yesterday</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="clearfix" href="">
                                <img src="app/img/user2.jpg" alt="User Avatar">
                                <div class="detail">
                                    <strong>Baby Doe</strong>
                                    <p class="no-margin">
                                        Lorem ipsum dolor sit amet...
                                    </p>
                                    <small class="text-muted">
                                        <i class="fa fa-reply"></i> 9 Feb 2013</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">View all messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-tasks fa-lg"></i>
                        <span class="notification-label bounceIn animation-delay5">4</span>
                    </a>
                    <ul class="dropdown-menu task dropdown-2">
                        <li>
                            <a href="">You have 4 tasks to complete</a>
                        </li>
                        <li>
                            <a href="">
                                <div class="clearfix">
                                    <span class="pull-left">Bug Fixes</span>
                                    <small class="pull-right text-muted">78%</small>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" style="width:78%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="clearfix">
                                    <span class="pull-left">Software Updating</span>
                                    <small class="pull-right text-muted">54%</small>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width:54%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="clearfix">
                                    <span class="pull-left">Database Migration</span>
                                    <small class="pull-right text-muted">23%</small>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" style="width:23%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="clearfix">
                                    <span class="pull-left">Unit Testing</span>
                                    <small class="pull-right text-muted">92%</small>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger " style="width:92%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-lg"></i>
                        <span class="notification-label bounceIn animation-delay6">5</span>
                    </a>
                    <ul class="dropdown-menu notification dropdown-3">
                        <li>
                            <a href="">You have 5 new notifications</a>
                        </li>
                        <li>
                            <a href="">
                                <span class="notification-icon bg-warning">
                                    <i class="fa fa-warning"></i>
                                </span>
                                <span class="m-left-xs">Server #2 not responding.</span>
                                <span class="time text-muted">Just now</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="notification-icon bg-success">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <span class="m-left-xs">New user registration.</span>
                                <span class="time text-muted">2m ago</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="notification-icon bg-danger">
                                    <i class="fa fa-bolt"></i>
                                </span>
                                <span class="m-left-xs">Application error.</span>
                                <span class="time text-muted">5m ago</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="notification-icon bg-success">
                                    <i class="fa fa-usd"></i>
                                </span>
                                <span class="m-left-xs">2 items sold.</span>
                                <span class="time text-muted">1hr ago</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="notification-icon bg-success">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <span class="m-left-xs">New user registration.</span>
                                <span class="time text-muted">1hr ago</span>
                            </a>
                        </li>
                        <li>
                            <a href="">View all notifications</a>
                        </li>
                    </ul>
                </li>
                <li class="profile dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <strong>{{$land.user.UserName }}</strong>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="clearfix" href="">
                                <img src="app/img/user.jpg" alt="User Avatar">
                                <div class="detail">
                                    <strong>{{$land.user.UserName}}</strong>
                                    <p class="grey">{{$land.user.EmailId}}</p>
                                </div>
                            </a>
                        </li>
                        <!--  <li><a tabindex="-1" href="profile.html" class="main-link"><i class="fa fa-edit fa-lg"></i> Edit profile</a>
                    </li>
                    <li><a tabindex="-1" href="gallery.html" class="main-link"><i class="fa fa-picture-o fa-lg"></i> Photo Gallery</a>
                    </li>
                    <li><a tabindex="-1" href="" class="theme-setting"><i class="fa fa-cog fa-lg"></i> Setting</a>
                    </li> -->
                        <li class="divider"></li>
                        <li>
                            <a tabindex="-1" class="main-link" ng-click="$land.logout()">
                                <i class="fa fa-lock fa-lg"></i> Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /top-nav-->

        <aside class="fixed skin-6">
            <div class="sidebar-inner scrollable-sidebar">
                <div class="size-toggle">
                    <a class="btn btn-sm" id="sizeToggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="btn btn-sm pull-right" ng-click="$land.logout()">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
                <!-- /size-toggle -->
                <div class="user-block clearfix">
                    <img src="app/img/user.jpg" alt="User Avatar">
                    <div class="detail">
                        <strong>{{$land.user.UserName }}</strong>
                    </div>
                </div>

                <!-- /search-block -->
                <div class="main-menu">
                    <ul>
                        <li>
                            <a ui-sref="app.dashboard">
                                <span class="menu-icon">
                                    <i class="fa fa-desktop fa-lg"></i>
                                </span>
                                <span class="text">
                                    Dashboard
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="app.jira">
                                <span class="menu-icon">
                                    <i class="fa fa-desktop fa-lg"></i>
                                </span>
                                <span class="text">
                                    jira Projects
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>


                        <li>
                            <a ui-sref="app.matchs">
                                <span class="menu-icon">
                                    <i class="fa fa-desktop fa-lg"></i>
                                </span>
                                <span class="text">
                                    Matchs
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>

                        <li>
                            <a ui-sref="app.players">
                                <span class="menu-icon">
                                    <i class="fa fa-desktop fa-lg"></i>
                                </span>
                                <span class="text">
                                    Players
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>

                        <li>
                            <a ui-sref="app.users">
                                <span class="menu-icon">
                                    <i class="fa fa-desktop fa-lg"></i>
                                </span>
                                <span class="text">
                                    Users
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="app.winning-contests">
                                <span class="menu-icon">
                                    <i class="fa fa-desktop fa-lg"></i>
                                </span>
                                <span class="text">
                                    Winning Contests
                                </span>
                                <span class="menu-hover"></span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /main-menu -->
            </div>
            <!-- /sidebar-inner -->
        </aside>

        <div id="main-container">
            <div id="breadcrumb">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a ui-sref="app.dashboard"> Home</a>
                    </li>
                    <li class="active" data-ng-bind="$land.currentpage"></li>
                </ul>
            </div>
            <!-- /breadcrumb-->
            <div class="main-header clearfix">
                <div class="page-title">
                    <h3 class="no-margin" data-ng-bind="$land.currentpage"></h3>
                </div>
            </div>

            <div class="grey-container shortcut-wrapper">

            </div>
            <!-- /grey-container -->

            <div class="padding-md">
                <div class="row">
                    <div ui-view="pageContent"></div>
                </div>
            </div>
            <!-- /.padding-md -->
        </div>
        <!-- /main-container -->




    </div>
    <!-- /wrapper -->

    <a href="" id="scroll-to-top"  class="hidden-print">
        <i class="fa fa-chevron-up"></i>
    </a>
    <div ui-view="app.toolbar"></div>

</div>